<h1>Project Details</h1>
<form method="post">
    <div class="container-lg">
        <div>
            <label for="name">Name</label>
            <input type="text" name="name" id="name" value="{{client.name}}">
        </div>
        <div>
            <label for="contact">Contact</label>
            <input type="text" name="contact" id="contact" value="{{client.contact}}">
        </div>
        <div>
            <label for="address">Address</label>
            <input type="text" name="address" id="address" value="{{client.address}}">
        </div>
        <div>
            <label for="city">City</label>
            <input type="text" name="city" id="city" value="{{client.city}}">
        </div>
        <div>
            <label for="province">Province</label>
            <input type="text" name="province" id="province" value="{{client.province}}">
        </div>
        <div>
            <label for="country">Country</label>
            <input type="text" name="country" id="country" value="{{client.country}}">
        </div>
        <div>
            <label for="postalCode">Postal Code</label>
            <input type="text" name="postalCode" id="postalCode" value="{{client.postalCode}}">
        </div>
        <div>
            <label for="Email">email</label>
            <input type="text" name="email" id="email" value="{{client.email}}">
        </div>
        <div>
            <label for="rate">Rate</label>
            <input type="text" name="rate" id="rate" value="{{client.rate}}">
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </div>
</form>